/* ELEMENTOS GLOBALES */

:root {
    --main: #000814;
    --contrast: #ffbe0b;
    --letters: #e5e5e5;
    --letters2: #272727;
    --background: #e5e5e5;
    --background-highlight: #f9f9f9;

    --header-height: 11vh;

    /* Fuentes */

    --JosefinSans:'Josefin Sans', sans-serif;
    --OpenSans: "Open Sans";
    --RobotoFlex: 'Roboto Flex', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    overflow-x: hidden; 
}

.main-content {
    min-height: 100vh;
    padding-top: 10vh;
    height: auto;
    overflow-x: hidden;
    width: 100vw; 
}

/* Header */

header {
    display: flex;
    position: fixed;
    z-index: 9;
    width: 100vw;
    height: var(--header-height);
    background-color: var(--main);
    box-shadow: #000000 0px 0px 1px;
    transition: all .5s;
    overflow: hidden; 
}

.header-hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.logo_container {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.logo_header {
    height: 100%;
}

.logo_header img {
    height: 100%;
}

.nav_bar {
    display: flex;
    width: 50%;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    overflow-x: hidden; 
}

.nav_container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center; 
    cursor: pointer;
}

.nav_container a {
    font-size: 2vh;
    font-weight: bold;
    font-family: var(--OpenSans);
    font-weight: bolder;
    text-decoration: none;
    color: var(--letters);
    transition: all 0.3s ease;
}

.nav_container a:hover {
    color: var(--contrast);
}

.nav_container:hover {
    border-bottom: 5px solid var(--contrast);
}

.nav_active {
    color: var(--contrast) !important;
}

.nav_bar_responsive, nav {
    display: none;
}


@media only screen and (max-width: 900px) {
    .nav_bar {
        display: none;
    }

    .logo_container {
        width: 100%;
    }

    .nav_bar_responsive {
        display: flex;
        width: 20%;
        height: 100%;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin-left: 80%;
        color: var(--letters);
    }

    .menu_bars {
        height: 30%;
    }


    nav {
        display: block;
        position: fixed;
        z-index: 10;
        width: 100vw;
        height: 100vh;
        background-color: var(--main);
        color: var(--letters);
        left: 100vw;
        transition: .5s all;
    }

    .close_bar_responsive_container {
        display: flex;
        justify-content: right;
        width: 100%;
        height: var(--header-height);
    }

    .close_nav_bar {
        display: flex;
        width: 20%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .menu_close {
        width: 40%;
    }

    .nav_bar_container {
        display: block;
        width: 100vw;
        height: calc(100vh - var(--header-height));
    }

    .nav_container_responsive {
        display: flex;
        width: 100%;
        height: 15%;
        justify-content: center;
        align-items: center;
        font-family: "Open Sans";
    }

    .nav_element {
        text-decoration: none;
        text-align: center;
        color: var(--letters);
        font-size: 125%;
    }
}


@media only screen and (max-height: 700px) {
    :root {
        --header-height: 70px;
    }
}


@media only screen and (max-height: 520px) {
    .close_bar_responsive_container {
        position: absolute;
        height: var(--header-height);
        width: 20vw;
        margin-left: 80vw;
    }

    .close_nav_bar {
        width: 100%;
    }
    
    .nav_bar_container {
        height: 100vh;
    }
    
    .nav_container_responsive {
        height: 16%;
    }
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--main);
    color: var(--letters);
    font-family: var(--OpenSans);
    height: auto;
}

.footerImgContainer {
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.footerImg {
    width: 150px; 
    height: auto; 
}

.privacy-notice {
    text-align: center;
    font-size: 0.8em;
    color: var(--letters);
    margin-top: 10px;
}

.adminLink {
    color: var(--contrast) !important;
    font-size: 0.8em;
}



@media only screen and (max-width: 900px) {
    footer {
        display: block;
    }

    .footer_logo_responsive {
        height: 20%;
    }
    
    .logo_footer img {
        height: 100%;
    }
}
