
.col-eliminar {
  width: 40px;
  text-align: center;
}

#eliminarToolbar {
  display: none !important;
}
#eliminarToolbar.activo {
  display: flex !important;
}

.tabla-title {
    font-weight: bold;
    font-style: oblique;    
    margin-bottom: 1em;
}